.GameArea {
  width: 60%;
  min-width: 500px;
  min-height: 500px;
  .WinBody {
    width: 60%;
    min-width: 500px;
    min-height: 500px;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.Otter {
  height: 50px;
  width: 50px;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 75px;
  }
}

.Tsumi {
  height: 200px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 200px;
  }
}

.Hack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}


.Behind {
  z-index: -9999;
}