 .GameOver {
  position: fixed;
  height: 60%;
  width: 50%;
  display: flex;
  z-index: 42069;
  top: 25%;
  left: 40%;

  .WinBody {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    text-align: center;
  }
}