@import '../resources/Resources.scss';

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  
  padding: 20px 200px;

  background-color: #1F1739;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 90%;
}